$deep-pink: #ffa5ba;
$light-pink: #ffb8ca;
$transparet-pink: #fff5f6;
$black: #000000;
$white: #ffffff;
$red: #d41443;
$red-ligth: #d41428;
$crema: #f0d1a5;
$green: #c2e297;
$grey: #ecebeb;
$grey-card: #907e82;
$grey-testimony: #fafafa;
$grey-line-testimony: #e1e1e1;
$time: 250ms;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$sidebar: #e17992;
$border-sidebar: #e18298;
