<section class="box-about-us">
  <div class="box-carrusel container">
    <section class="container-testimony">
      <!-- Testimonio Emily -->
      <article class="card-testimony">
        <img src="./images/aboutus/desktop/Emily.png" alt="testimony" />
        <div class="card-testimony__box">
          <svg class="card-testimony__icon">
            <use href="./images/icons.svg#icon-testimony-2"></use>
          </svg>
          <p class="card-testimony__p">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
          <div class="card-testimony__line-one"></div>
          <div class="card-testimony__line-two"></div>
          <div class="card-testimony__line-three"></div>
          <div class="card-testimony__line-four"></div>
          <div class="card-testimony__line-five"></div>
          <div class="card-testimony__line-six"></div>
          <div class="card-testimony__line-seven"></div>
          <div class="card-testimony__line-eight"></div>
        </div>
        <div class="card-testimony__points">...</div>
        <h3 class="card-testimony__name">Emily, Los Angeles</h3>
      </article>
      <!-- Testimonio Laura -->
      <article class="card-testimony">
        <img src="./images/aboutus/desktop/Laura.png" alt="testimony" />
        <div class="card-testimony__box">
          <svg class="card-testimony__icon">
            <use href="./images/icons.svg#icon-testimony-2"></use>
          </svg>
          <p class="card-testimony__p">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
          <div class="card-testimony__line-one"></div>
          <div class="card-testimony__line-two"></div>
          <div class="card-testimony__line-three"></div>
          <div class="card-testimony__line-four"></div>
          <div class="card-testimony__line-five"></div>
          <div class="card-testimony__line-six"></div>
          <div class="card-testimony__line-seven"></div>
          <div class="card-testimony__line-eight"></div>
        </div>
        <div class="card-testimony__points">...</div>
        <h3 class="card-testimony__name">Laura, Chicago</h3>
      </article>
      <!-- Testimonio Sara -->
      <article class="card-testimony">
        <img src="./images/aboutus/desktop/Sara.png" alt="testimony" />
        <div class="card-testimony__box">
          <svg class="card-testimony__icon">
            <use href="./images/icons.svg#icon-testimony-2"></use>
          </svg>
          <p class="card-testimony__p">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
          <div class="card-testimony__line-one"></div>
          <div class="card-testimony__line-two"></div>
          <div class="card-testimony__line-three"></div>
          <div class="card-testimony__line-four"></div>
          <div class="card-testimony__line-five"></div>
          <div class="card-testimony__line-six"></div>
          <div class="card-testimony__line-seven"></div>
          <div class="card-testimony__line-eight"></div>
        </div>
        <div class="card-testimony__points">...</div>
        <h3 class="card-testimony__name">Sara, New York</h3>
      </article>
    </section>
  </div>
  <!-- Carrusel -->
  <article class="article-testimony container">
    <div class="carousel">
      <div class="carousel__box">
        <div class="carousel__elipse"></div>
        <div class="carousel__elipse"></div>
        <svg class="carousel__icon-home">
          <use href="./images/icons.svg#home-2"></use>
        </svg>
        <div class="carousel__elipse"></div>
        <div class="carousel__elipse"></div>
      </div>
    </div>
  </article>
</section>
