<section class="contacts container">
    <div class="containerfooter">
        <h2 style="display: none">Contacts</h2>
        <div class="container__position">
            <ul class="contacts__list list">
                <li class="contacts__list__item">
                    <ul class="list">
                        <li class="contacts__list__item__title">CAFE</li>
                        <li class="contacts__list__item__subtitle">Chicago</li>
                        <li class="contacts__list__item__paragraph">Fusce ut velit laoreet, tempus arcu molestie vulputate</li>
                    </ul>
                    
                    <div class="separator"></div>
                    <ul class="contacts__schedule list">
                        <li class="contacts__schedule_day">Monday - Friday</li>
                        <li class="contacts__schedule_hour">06:00 AM - 10:00 PM</li>
                        <li class="contacts__schedule_day">Saturday - Sunday</li>
                        <li class="contacts__schedule_hour">06:00 AM - 10:00 PM</li>
                    </ul>
                    <div class="separator"></div>
                    <ul class="list">
                        <li>
                        <a class="contacts__link link" href="tel:++61(0)383766284"
                        >+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a class="contacts__link link" href="mailto:noreply@envato.com"
                        >noreply@envato.com</a>
                    </li>
                    </ul>
                </li>
                <li class="contacts__list__item">
                    <ul class="list">
                        <li class="contacts__list__item__title--green">FOOD TRUCK</li>
                        <li class="contacts__list__item__subtitle">Los Angeles</li>
                        <li class="contacts__list__item__paragraph">Fusce ut velit laoreet, tempus arcu molestie vulputate</li>
                    </ul>
                    
                    <div class="separator"></div>
                    <ul class="contacts__schedule list">
                        <li class="contacts__schedule_day">Monday - Friday</li>
                        <li class="contacts__schedule_hour">06:00 AM - 10:00 PM</li>
                        <li class="contacts__schedule_day">Saturday - Sunday</li>
                        <li class="contacts__schedule_hour">06:00 AM - 10:00 PM</li>
                    </ul>
                    <div class="separator"></div>
                    <ul class="list">
                        <li>
                        <a class="contacts__link link" href="tel:++61(0)383766284"
                        >+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a class="contacts__link link" href="mailto:noreply@envato.com"
                        >noreply@envato.com</a>
                    </li>
                    </ul>
                </li>
                <li class="contacts__list__item">
                    <ul class="list">
                        <li class="contacts__list__item__title">CAFE</li>
                        <li class="contacts__list__item__subtitle">New York</li>
                        <li class="contacts__list__item__paragraph">Fusce ut velit laoreet, tempus arcu molestie vulputate</li>
                    </ul>
                    
                    <div class="separator"></div>
                    <ul class="contacts__schedule list">
                        <li class="contacts__schedule_day">Monday - Friday</li>
                        <li class="contacts__schedule_hour">06:00 AM - 10:00 PM</li>
                        <li class="contacts__schedule_day">Saturday - Sunday</li>
                        <li class="contacts__schedule_hour">06:00 AM - 10:00 PM</li>
                    </ul>
                    <div class="separator"></div>
                    <ul class="list">
                        <li>
                        <a class="contacts__link link" href="tel:++61(0)383766284"
                        >+61(0) 383 766 284</a>
                    </li>
                    <li >
                        <a class="contacts__link link" href="mailto:noreply@envato.com"
                        >noreply@envato.com</a>
                    </li>
                    </ul>
                </li>
            </ul>
            <ul class="contacts__buttons__list list" >
                <li>
                    <button class="contacts__button contacts__button--pink" type="button">Our Locations
                        <svg class="button__svg">
                            <use href="./images/icons.svg#mayor-white">
                            </use>
                        </svg>
                    </button>
                </li>
                <li>
                    <button class="contacts__button contacts__button--white" type="button">Franchise
                        <svg class="button__svg">
                            <use href="./images/icons.svg#mayor">
                            </use>
                        </svg>
                    </button>
                </li>
            </ul>
            </div>
        
<footer class="footer">
    <div class="footer__container">
        <ul class="footer__list list">
            <li class="footer__list__itemsmall">homemade ice cream made</li>
            <li class="footer__list__itembig">with passion</li>
        </ul>
    <div class="footer__container__svg">
        <ul class="footer__list__svg list">
        <li class="footer__item">
            <div class="background__svg background__svg--github">
                <a class="link" href="#" target="_blank" rel="noopener noreferrer">
                    <svg>
                        <use href="./images/icons.svg#github">
                        </use>
                    </svg>
                </a>
            </div>
        </li>
        <li class="footer__item">
            <div class="background__svg background__svg--telegram">
                <a class="link" href="#" target="_blank" rel="noopener noreferrer">
                    <svg>
                        <use href="./images/icons.svg#telegram">
                        </use>
                    </svg>
                </a>
            </div>
        </li>
        <li class="footer__item">
            <div class="background__svg background__svg--facebook">
                <a class="link" href="#" target="_blank" rel="noopener noreferrer">
                    <svg>
                        <use href="./images/icons.svg#facebook">
                        </use>
                    </svg>
                </a>
            </div>
        </li>
        </ul>
        <p class="footer__svg__paragraph">Feel free to contact
            <a class="footer__link link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        </p>
    </div>
    </div>
    <div class="footer__separator"></div>
    <p class="footer__lastparagraph">&copy; 2022 - IceCream. All Rights Reserved.</p> 
</footer>
    </div>    
        
    