<section class="contacts">
    <h2 style="display: none">Contacts</h2>
    <div class="containerfooter">
        <ul class="contacts__list list">
            <li class="contacts__list__item">
                <p class="contacts__list__item__title">CAFE</p>
                <p class="contacts__list__item__subtitle">Chicago</p>
                <p class="contacts__list__item__paragraph">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div class="separator"></div>
                <ul class="contacts__schedule list">
                    <li class="contacts__schedule_day">Monday - Friday</li>
                    <li class="contacts__schedule_hour">06:00 AM - 10:00 PM</li>
                    <li class="contacts__schedule_day">Saturday - Sunday</li>
                    <li class="contacts__schedule_hour">06:00 AM - 10:00 PM</li>
                </ul>
                <div class="separator"></div>
                <ul class="list">
                    <li>
                    <a class="link" href="tel:++61(0)383766284"
                    >+61(0) 383 766 284</a>
                </li>
                <li>
                    <a class="link" href="mailto:noreply@envato.com"
                    >noreply@envato.com</a>
                </li>
                </ul>
            </li>
            <li class="contacts__list__item">
                <p class="contacts__list__item__title--green">FOOD TRUCK</p>
                <p class="contacts__list__item__subtitle">Los Angeles</p>
                <p class="contacts__list__item__paragraph">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div class="separator"></div>
                <ul class="contacts__schedule list">
                    <li class="contacts__schedule_day">Monday - Friday</li>
                    <li class="contacts__schedule_hour">06:00 AM - 10:00 PM</li>
                    <li class="contacts__schedule_day">Saturday - Sunday</li>
                    <li class="contacts__schedule_hour">06:00 AM - 10:00 PM</li>
                </ul>
                <div class="separator"></div>
                <ul class="list">
                    <li>
                    <a class="link" href="tel:++61(0)383766284"
                    >+61(0) 383 766 284</a>
                </li>
                <li>
                    <a class="link" href="mailto:noreply@envato.com"
                    >noreply@envato.com</a>
                </li>
                </ul>
            </li>
            <li class="contacts__list__item">
                <p class="contacts__list__item__title">CAFE</p>
                <p class="contacts__list__item__subtitle">New York</p>
                <p class="contacts__list__item__paragraph">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div class="separator"></div>
                <ul class="contacts__schedule list">
                    <li class="contacts__schedule_day">Monday - Friday</li>
                    <li class="contacts__schedule_hour">06:00 AM - 10:00 PM</li>
                    <li class="contacts__schedule_day">Saturday - Sunday</li>
                    <li class="contacts__schedule_hour">06:00 AM - 10:00 PM</li>
                </ul>
                <div class="separator"></div>
                <ul class="list">
                    <li>
                    <a class="link" href="tel:++61(0)383766284"
                    >+61(0) 383 766 284</a>
                </li>
                <li >
                    <a class="link" href="mailto:noreply@envato.com"
                    >noreply@envato.com</a>
                </li>
                </ul>
            </li>
        </ul>
        <button type="button">Our Locations
            <svg class="button__svg">
                <use href="./images/icons.svg#mayor-white">
                </use>
            </svg>
        </button>
        <button type="button">Franchise
            <svg class="button__svg">
                <use href="./images/icons.svg#mayor">
                </use>
            </svg>
        </button>
<footer class="footer">
    <div class="footer__container">
        <ul class="footer list">
            <li>homemade ice cream made</li>
            <li>with passion</li>
        </ul>
    
        <ul class="footer__list list svg">
        <li class="footer__item">
            <a href="#" target="_blank" rel="noopener noreferrer">
            <svg class="footer__item__svg">
                <use href="./images/icons.svg#github">
                </use>
            </svg>
        </a>
        </li>
        <li class="footer__item">
            <a href="#" target="_blank" rel="noopener noreferrer">
                <svg class="footer__item__svg">
                    <use href="./images/icons.svg#telegram">
                    </use>
                </svg>
            </a>     
        </li>
        <li class="footer__item">
            <a href="#" target="_blank" rel="noopener noreferrer">
                <svg class="footer__item__svg">
                    <use href="./images/icons.svg#facebook">
                    </use>
                </svg>
            </a>
        </li>
        <p>Feel free to contact
                <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        </p>
    </ul>   

    </div>
        
    <div class="separator"></div>
    <p>© 2022 - IceCream. All Rights Reserved.</p> 
</footer>
    </div>    
        
    