<section class="gallery">
  <div class="container-absolute-top">
    <ul class="gallery-list list container">
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/gallery/desktop/ice-cream.jpg    1x,
              ./images/gallery/desktop/ice-cream@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              ./images/gallery/tablet/ice-cream.jpg    1x,
              ./images/gallery/tablet/ice-cream@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobil/ice-cream.jpg    1x,
              ./images/gallery/mobil/ice-cream@2x.jpg 2x
            "
          />
          <img
            class="gallery-img image-one"
            src="./images/gallery/desktop/ice-cream.jpg"
            alt="imagen helados"
            width="138px"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/gallery/desktop/ice-cream-cone.jpg    1x,
              ./images/gallery/desktop/ice-cream-cone@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              ./images/gallery/tablet/ice-cream-cone.jpg    1x,
              ./images/gallery/tablet/ice-cream-cone@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobil/ice-cream-cone.jpg    1x,
              ./images/gallery/mobil/ice-cream-cone@2x.jpg 2x
            "
          />
          <img
            class="gallery-img image-two"
            src="./images/gallery/desktop/ice-cream-cone.jpg"
            alt="cono de helado"
            width="138px"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/gallery/desktop/palettes.jpg    1x,
              ./images/gallery/desktop/palettes@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              ./images/gallery/tablet/palettes.jpg    1x,
              ./images/gallery/tablet/palettes@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobil/palettes.jpg    1x,
              ./images/gallery/mobil/palettes@2x.jpg 2x
            "
          />
          <img
            class="gallery-img image-three"
            src="./images/gallery/desktop/palettes.jpg"
            alt="paletas de helado"
            width="138px"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/gallery/desktop/cones.jpg    1x,
              ./images/gallery/desktop/cones@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              ./images/gallery/tablet/cones.jpg    1x,
              ./images/gallery/tablet/cones@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobil/cones.jpg    1x,
              ./images/gallery/mobil/cones@2x.jpg 2x
            "
          />
          <img
            class="gallery-img image-four"
            src="./images/gallery/desktop/cones.jpg"
            alt="conos de helado"
            width="283px"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/gallery/desktop/girl.jpg    1x,
              ./images/gallery/desktop/girl@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              ./images/gallery/tablet/girl.jpg    1x,
              ./images/gallery/tablet/girl@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobil/girl.jpg    1x,
              ./images/gallery/mobil/girl@2x.jpg 2x
            "
          />
          <img
            class="gallery-img image-five"
            src="./images/gallery/desktop/girl.jpg"
            alt="chica disfrutando su helado"
            width="138px"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/gallery/desktop/blueberries.jpg    1x,
              ./images/gallery/desktop/blueberries@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              ./images/gallery/tablet/blueberries.jpg    1x,
              ./images/gallery/tablet/blueberries@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobil/blueberries.jpg    1x,
              ./images/gallery/mobil/blueberries@2x.jpg 2x
            "
          />
          <img
            class="gallery-img image-six"
            src="./images/gallery/desktop/blueberries.jpg"
            alt="helado arándanos"
            width="138px"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/gallery/desktop/street.jpg    1x,
              ./images/gallery/desktop/street@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              ./images/gallery/tablet/street.jpg    1x,
              ./images/gallery/tablet/street@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobil/street.jpg    1x,
              ./images/gallery/mobil/street@2x.jpg 2x
            "
          />
          <img
            class="gallery-img image-seven"
            src="./images/gallery/desktop/street.jpg"
            alt="calle de helados"
            width="138px"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/gallery/desktop/dog.jpg    1x,
              ./images/gallery/desktop/dog@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              ./images/gallery/tablet/dog.jpg    1x,
              ./images/gallery/tablet/dog@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobil/dog.jpg    1x,
              ./images/gallery/mobil/dog@2x.jpg 2x
            "
          />
          <img
            class="gallery-img image-eight"
            src="./images/gallery/desktop/dog.jpg"
            alt="perrito y su helado"
            width="138px"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/gallery/desktop/granita.jpg    1x,
              ./images/gallery/desktop/granita@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              ./images/gallery/tablet/granita.jpg    1x,
              ./images/gallery/tablet/granita@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobil/granita.jpg    1x,
              ./images/gallery/mobil/granita@2x.jpg 2x
            "
          />
          <img
            class="gallery-img image-nine"
            src="./images/gallery/desktop/granita.jpg"
            alt="granizado"
            width="138px"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/gallery/desktop/dessert.jpg    1x,
              ./images/gallery/desktop/dessert@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              ./images/gallery/tablet/dessert.jpg    1x,
              ./images/gallery/tablet/dessert@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobil/dessert.jpg    1x,
              ./images/gallery/mobil/dessert@2x.jpg 2x
            "
          />
          <img
            class="gallery-img image-ten"
            src="./images/gallery/desktop/dessert.jpg"
            alt="postre helado"
            width="138px"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
