<div class="container">
  <header>
    <svg class="" width="199px" height="50px">
      <use href="./images/icons.svg#logo"></use>
    </svg>

    <nav class="navegation">
      <ul class="navegation__list list">
        <li class="navegation__item">
          <a class="navegation__link link" href="#"> Home </a>
        </li>
        <li class="navegation__item">
          <a class="navegation__link link" href="#"> About us </a>
        </li>
        <li class="navegation__item">
          <a class="navegation__link link" href="#"> How it’s made? </a>
        </li>
        <li class="navegation__item">
          <a class="navegation__link link" href="#"> Our products </a>
        </li>
        <li class="navegation__item">
          <a class="navegation__link link" href="#"> Contact </a>
        </li>
      </ul>
    </nav>
    <button type="button">
      Buy now
      <svg class="contact__icon" width="16px" height="12px">
        <use href="./images/icons.svg#mayor"></use>
      </svg>
    </button>
  </header>
  <h1>ice cream made with <span>passion</span></h1>
  <button>Products</button>
  <button>How it’s made?</button>

  <ul class="list">
    <li>
      <img src="./images/milk-jug.jpg" alt="jarra de leche" />
    </li>
    <li>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
        <img src="./images/arrow.jpg" alt="" />
      </p>
    </li>
  </ul>

  <ul class="list">
    <li>
      <svg class="" width="50px" height="50px">
        <use href="./images/icons.svg#ellipse"></use>
      </svg>
    </li>

    <li>
      <img src="./images/frozen.jpg" alt="helado" />
    </li>
  </ul>

  <ul class="list">
    <li>
      <span
        >16
        <svg class="" width="50px" height="50px">
          <use href="./images/icons.svg#ellipse-white"></use></svg
      ></span>
      <p>Cafes</p>
    </li>

    <li>
      <span
        >16
        <svg class="" width="50px" height="50px">
          <use href="./images/icons.svg#ellipse-white"></use></svg
      ></span>
      <p>Food trucks</p>
    </li>
  </ul>

  <ul class="list">
    <li>
      <img src="./images/women.jpg" alt="mujer" />
    </li>
  </ul>

  <ul class="list">
    <li>
      <img src="./images/women.jpg" alt="mujer" />
    </li>
  </ul>

  <ul class="list">
    <li>
      <img src="./images/women.jpg" alt="mujer" />
    </li>
  </ul>
</div>
