<section class="how__its__made">
    <div class="container">
        <ul class="link how__its__made__title__list">
            <li class="how__its__made__title__item">
                <p class="how__its__made__subtitle"></p>
                <h1 class="how__its__made__title"></h1>
            </li>
        </ul>

        <ul class="link how__its__made__info__list">
            <li class="link how__its__made__info__item">
                <img src="" alt="">
            </li>
            <li class="link how__its__made__info__item">
                <p class="how__its__made__info__item__paragranone"></p>
                <p class="how__its__made__info__item__paragrantwo"></p>
                <button> </button>
            </li>
        </ul>
        <ul></ul>
    </div>
</section>