<section class="how__its__made">
  <div class="container how__its__made__container">
    <ul class="list how__its__made__title__list">
      <li class="how__its__made__title__item">
        <p class="how__its__made__subtitle">tradition and love</p>
        <h2 class="how__its__made__title">how it’s made?</h2>
      </li>
    </ul>

    <ul class="list how__its__made__info__list">
      <li class="how__its__made__info__item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/howitsmade/desckopt/img-milk-desktop.png    1x,
              ./images/howitsmade/desckopt/img-milk-desktop@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              ./images/howitsmade/tablet/img-milk-table.png    1x,
              ./images/howitsmade/tablet/img-milk-table@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/howitsmade/mobile/img-milk-mobile.png    1x,
              ./images/howitsmade/mobile/img-milk-mobile@2x.png 2x
            "
          />

          <img
            class="how__its__made__info__item__img"
            src="./images/howitsmade/desckopt/img-milk-desktop.png"
            alt="cow milk"
          />
        </picture>
      </li>
      <li class="how__its__made__info__item bg">
        <p class="how__its__made__info__item__paragranone">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="how__its__made__info__item__paragrantwo">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt. Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="how__its__made__info__item__btn" type="button">
          Read more
          <svg class="how__its__made__info__item__icon">
            <use href="./images/icons.svg#mayor"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>

<section class="how__its__madetwo">
  <div class="container how__its__made__container">
    <ul class="list how__its__made__description__list">
      <li class="how__its__made__description__item">
        <svg class="how__its__made__description__item__icon">
          <use href="./images/icons.svg#milk-glass"></use>
        </svg>
        <h2 class="how__its__made__description__item__title">721</h2>
        <p class="how__its__made__description__item__paragran">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="how__its__made__description__item">
        <svg class="how__its__made__description__item__icon">
          <use href="./images/icons.svg#fruit-glass"></use>
        </svg>
        <h2 class="how__its__made__description__item__title">16kg</h2>
        <p class="how__its__made__description__item__paragran">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="how__its__made__description__item">
        <svg class="how__its__made__description__item__icon">
          <use href="./images/icons.svg#heart"></use>
        </svg>
        <h2 class="how__its__made__description__item__title">84</h2>
        <p class="how__its__made__description__item__paragran">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
