<section class="products container" id="#products">
  <ul class="products__title-list list">
    <li class="products__title-item"><h3>100% natural</h3></li>
    <li class="products__title-item">
      <h2 class="products__title-main">
        <a href="#products" class="products__title-link link">PRODUCTS</a>
      </h2>
    </li>
  </ul>
  <div class="products__content">
    <ul class="products__content-list link">
      <li class="products__item products__item--bgicecream">
        <div class="products__card">
          <div class="product__img-container">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/ourproducts/desktop/product-icecream-desktop_1x.png  1x,
                  ./images/ourproducts/desktop/product-icecream-desktop_@2x.png 2x
                "
              />
              <source
                media="(min-width: 768px) and (max-width: 1279px)"
                srcset="
                  ./images/ourproducts/tablet/product-icecream-tablet_1x.png  1x,
                  ./images/ourproducts/tablet/product-icecream-tablet_@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/ourproducts/mobile/product-icecream-mobile_1x.png  1x,
                  ./images/ourproducts/mobile/product-icecream-mobile_@2x.png 2x
                "
              />

              <img
                class="products__img"
                src="./images/ourproducts/desktop/product-icecream-desktop_1x.png"
                alt="helado"
              />
            </picture>
          </div>
          <div class="products__card-content">
            <h3 class="products__card-title">ice cream</h3>
            <p class="products__card-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/ourproducts/desktop/product-icon-arrow-right_1x.png  1x,
                  ./images/ourproducts/desktop/product-icon-arrow-right_@2x.png 2x
                "
              />
              <source
                media="(min-width: 768px) and (max-width: 1279px)"
                srcset="
                  ./images/ourproducts/tablet/product-icon-arrow-right_1x.png  1x,
                  ./images/ourproducts/tablet/product-icon-arrow-right_@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/ourproducts/mobile/product-icon-arrow-right_1x.png  1x,
                  ./images/ourproducts/mobile/product-icon-arrow-right_@2x.png 2x
                "
              />

              <img
                class="right-arrow"
                src="./images/ourproducts/desktop/product-icon-arrow-right_1x.png"
                alt="flecha"
              />
            </picture>
          </div>
        </div>
      </li>
      <li class="products__item products__item--bgicecoffee">
        <div class="products__card">
          <div class="product__img-container">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/ourproducts/desktop/product-icecoffee-desktop_1x.png  1x,
                  ./images/ourproducts/desktop/product-icecoffee-desktop_@2x.png 2x
                "
              />
              <source
                media="(min-width: 768px) and (max-width: 1279px)"
                srcset="
                  ./images/ourproducts/tablet/product-icecoffee-tablet_1x.png  1x,
                  ./images/ourproducts/tablet/product-icecoffee-tablet_@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/ourproducts/mobile/product-icecoffee-mobile_1x.png  1x,
                  ./images/ourproducts/mobile/product-icecoffee-mobile_@2x.png 2x
                "
              />

              <img
                class="products__img"
                src="./images/ourproducts/desktop/product-icecoffee-desktop_1x.png"
                alt="helado"
              />
            </picture>
          </div>
          <div class="products__card-content">
            <h3 class="products__card-title">ice coffee</h3>
            <p class="products__card-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/ourproducts/desktop/product-icon-arrow-right_1x.png  1x,
                  ./images/ourproducts/desktop/product-icon-arrow-right_@2x.png 2x
                "
              />
              <source
                media="(min-width: 768px) and (max-width: 1279px)"
                srcset="
                  ./images/ourproducts/tablet/product-icon-arrow-right_1x.png  1x,
                  ./images/ourproducts/tablet/product-icon-arrow-right_@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/ourproducts/mobile/product-icon-arrow-right_1x.png  1x,
                  ./images/ourproducts/mobile/product-icon-arrow-right_@2x.png 2x
                "
              />

              <img
                class="right-arrow"
                src="./images/ourproducts/desktop/product-icon-arrow-right_1x.png"
                alt="flecha"
              />
            </picture>
          </div>
        </div>
      </li>
      <li class="products__item products__item--milkshakes">
        <div class="products__card">
          <div class="product__img-container">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/ourproducts/desktop/product-milkshakes-desktop_1x.png  1x,
                  ./images/ourproducts/desktop/product-milkshakes-desktop_@2x.png 2x
                "
              />
              <source
                media="(min-width: 768px) and (max-width: 1279px)"
                srcset="
                  ./images/ourproducts/tablet/product-milkshakes-tablet_1x.png  1x,
                  ./images/ourproducts/tablet/product-milkshakes-tablet_@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/ourproducts/mobile/product-milkshakes-mobile_1x.png  1x,
                  ./images/ourproducts/mobile/product-milkshakes-mobile_@2x.png 2x
                "
              />

              <img
                class="products__img"
                src="./images/ourproducts/desktop/product-milkshakes-desktop_1x.png"
                alt="helado"
              />
            </picture>
          </div>
          <div class="products__card-content">
            <h3 class="products__card-title">milkshakes</h3>
            <p class="products__card-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/ourproducts/desktop/product-icon-arrow-right_1x.png  1x,
                  ./images/ourproducts/desktop/product-icon-arrow-right_@2x.png 2x
                "
              />
              <source
                media="(min-width: 768px) and (max-width: 1279px)"
                srcset="
                  ./images/ourproducts/tablet/product-icon-arrow-right_1x.png  1x,
                  ./images/ourproducts/tablet/product-icon-arrow-right_@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/ourproducts/mobile/product-icon-arrow-right_1x.png  1x,
                  ./images/ourproducts/mobile/product-icon-arrow-right_@2x.png 2x
                "
              />

              <img
                class="right-arrow"
                src="./images/ourproducts/desktop/product-icon-arrow-right_1x.png"
                alt="flecha"
              />
            </picture>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
