.gallery-list {
  position: relative;
  width: 1013px;
  height: 430px;
}
.gallery-img {
  position: absolute;
  border-radius: 20px;
}
.image-one {
  top: 142px;
  left: 0;
}
.image-two {
  top: 88px;
  left: 146px;
}
.image-three {
  left: 146px;
  top: 233px;
}
.image-four {
  top: 0;
  left: 292px;
}
.image-five {
  left: 292px;
  bottom: 0;
}
.image-six {
  top: 98px;
  right: 292px;
}
.image-seven {
  top: 245px;
  right: 293px;
}
.image-eight {
  top: 65px;
  right: 146px;
}
.image-nine {
  top: 212px;
  right: 146px;
}
.image-ten {
  top: 154px;
  right: 0;
}
/* Estilos para tabletas (entre 768px y 1279px) */

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 768px;
  }
  .gallery-list {
    width: 768px;
  }
  .gallery-img {
    width: 105px;
  }
  .image-four {
    width: 214px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 320px;
  }
  .gallery-list {
    width: 320px;
  }
  .gallery-img {
    width: 44px;
  }
  .image--four {
    width: 89px;
  }
}
