.bg__pink{
    background-color:$light-pink;
    height: 664px;
}

//header//
.header{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 30px 0;
}
.mayor{
    display: flex;
}

.navegation{
    display: flex;
    align-items: center;
    width: 40%;
    z-index: 10;
}

.navegation__list{
    display: flex;
    gap: 35px;
    font-family: 'DM Sans';
}

.navegation__item{
    color: $white;
    font-weight: 700;
}

.navegation__link:hover{
    color: $red;
}
.navegation__link--active{
    color: $red;
}

.navegation__btn{
    padding: 15px 38px;
    border-radius:22px;
    border: none;
    display: flex;
    gap: 15px;
    align-items: center;
    font-family: 'DM Sans';

    &:hover{
        background-color: $grey;
        cursor: pointer;
    }
}

//cream title//
.container-left{
    width: 50%;
}
//cream title//
.cream__title{
    font-weight: 400;
    font-size: 38px;
    width: 277px;
    color: $white;
    font-family: 'Titan One';
    text-transform: uppercase;
    margin-top: 40px;
}

.cream__span{
    color: $red;
}

.cream__item{
    margin-top: 24px;
}
.cream__products{
    padding: 15px;
    border: none;
    border-radius: 22px;
    background-color: $red;
    color: $white;
    font-family: 'DM Sans';
}

.cream__howitmade{
    padding: 15px;
    border: none;
    border-radius: 22px;
    color: $red;
    font-family: 'DM Sans';
    margin-left: 15px;

    &:hover{
        background-color: $grey;
        cursor: pointer;
    }
}

//milk//
.milk{
    display: flex;
    align-items: center;
    margin-top: 65px;
    width: 500px;
}

.milk__paragraph{
    width: 200px;
    color: $white;
    font-family: 'DM Sans';
}

.milk__jug{
    width: 213px;
    height: 216px;
}

.milk__arrow{
    padding-top: 20px;
}

//cream title//
.hola {
    width: 50%;
    position: relative;
}
//ellipse//
.ellipse__svg{
    position: absolute;
    top: -74px;
}

.ellipse__img {
    position: absolute;
    top: -15px;
    left: 111px;
}

//sixteen//
.sixteen__container{
    position: absolute;
    right: 0;
    z-index: 3;
}


.sixteen__item{
    margin-bottom:25px;
}

.sixteen__span{
    color: $red;
    font-size: 46px;
}

.sixteen__svg{
    position: absolute;
    right: -10px;
}

.sixteen__paragraph{
    color: $white;
    font-family: 'DM Sans';
}


//twenty three//
.twenty-three__container{
    position: absolute;
    top: 130px;
    right: -22px;
    z-index: 4;
}

.twenty-three__span{
    color: $red;
    font-size: 46px;
}

.twenty-three__paragraph{
    color: $white;
    font-family: 'DM Sans';
}

.twenty-three__svg {
    position: absolute;
    right: -10px;
    top: 130px;
}

//women//
.women__img{
    position: absolute;
    bottom: 2px;
    right: 28px;
}
