 @media screen and (min-width: 1279px) {
     .how__its__made {

         background-color: $transparet-pink;
         background-image: url('.././images/howitsmade/desckopt/backgraun-milk.png');
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         padding-bottom: 0px;


         @media (min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
         (min-resolution: 2dppx) {
             background-color: $transparet-pink;
             background-image: url('.././images/howitsmade/desckopt/bacgraun-desktop@2x.png');
             background-position: center;
             background-repeat: no-repeat;
             background-size: cover;
             padding-bottom: 0px;
         }

     }
 }

.how__its__madetwo {
    background-color: $transparet-pink;
}

.how__its__made {
    background-color: $transparet-pink;
}

.how__its__made__container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.how__its__made__title__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    animation: title 3s infinite ease-in-out;
}

@keyframes title {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}


.how__its__made__title__item {
    gap: 16px;
}

.how__its__made__subtitle {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $light-pink;
}

.how__its__made__title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 66px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $red;
}


.how__its__made__info__list {
    width: 1200px;
    display: flex;
    align-items: center;

    gap: 99px;

    margin-bottom: 60px;

}

.how__its__made__info__item__img {
    width: 501px;
    height: 501px;

    animation: movimiento 2.5s infinite ease-in-out;
}

@keyframes movimiento {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}



.how__its__made__info__item {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    gap: 32px;
}

.how__its__made__info__item__paragranone {
    width: 463px;
    height: 79px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 176%;
    /* or 28px */

    letter-spacing: 0.04em;

    color: $black;
}

.how__its__made__info__item__paragrantwo {
    width: 463px;
    height: 155px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 194%;
    /* or 27px */

    letter-spacing: 0.04em;
    color: $grey-card;
}

.how__its__made__info__item__btn {
    width: 176px;
    height: 44px;
    border-radius: 22px;
    background-color: $white;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    border: transparent;
    color: $red;
    transition: transform 1s ease-in-out;

}



.how__its__made__info__item__icon {
    height: 10px;
    width: 20px;
    animation: movimientoicon 2.5s infinite ease-in-out;
}

@keyframes movimientoicon {
    100% {
        transform: rotate(360deg);
    }

}

.how__its__made__description__list {
    width: 1200px;
    display: flex;

    align-items: center;
    justify-content: space-between;
    margin-bottom: 209px;
}

.how__its__made__description__item__icon {
    height: 50px;
    width: 50px;
    margin-bottom: 40px;
    animation: movimientoicon 2.5s infinite ease-in-out;
}

.how__its__made__description__item__title {
    width: 98px;
    height: 65px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 66px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $red;
    margin-bottom: 16px;
}

.how__its__made__description__item__paragran {
    width: 288px;
    height: 52px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 176%;
    /* or 28px */

    letter-spacing: 0.02em;

    color: $black;
}


/* Estilos para tabletas (entre 768px y 1279px) */

@media screen and (min-width: 768px) and (max-width: 1279px) {

    .container {
        width: 768px;
    }

    .how__its__made__title__list {
        margin-bottom: 40px;
    }

    .how__its__made__subtitle {
        font-size: 26px;
        line-height: 30px;
    }

    .how__its__made__title {
        font-size: 48px;
        line-height: 55px;
    }

    .how__its__made__info__list {
        width: 768px;
        margin-bottom: 83px;
    }

    .how__its__made__info__item__img {
        width: 336px;
        height: 335px;
    }

    .how__its__made__info__item__paragranone {
        width: 334px;
        font-size: 14px;
    }

    .how__its__made__info__item__paragrantwo {
        width: 334px;
        line-height: 176%;
    }

    .how__its__made__description__list {
        width: 768px;
        justify-content: start;
    }

    .how__its__made__description__item__icon {
        margin-bottom: 36px;
    }

    .how__its__made__description__item__title {
        width: 98px;
        height: 56px;
        font-size: 48px;
        line-height: 55px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
    }

    .how__its__made__description__item__paragran {
        width: 180px;
        height: 71px;
        font-size: 14px;
        line-height: 174%;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {

    .container {
        width: 320px;
    }

    .how__its__made__subtitle {
        font-size: 18px;
        line-height: 21px;
    }

    .how__its__made__title {
        font-size: 34px;
        line-height: 39px;
    }

    .how__its__made__info__list {
        width: 320px;
        flex-direction: column;

            background-color: $transparet-pink;
            background-image: url('.././images/howitsmade/mobile/backgraun-milk-mobile.png');
            background-position: center;
            background-repeat: no-repeat;
    }

    .how__its__made__info__item__img {
        width: 280px;
        height: 279px;
    }

    .how__its__made__info__item__paragranone {
        width: 220px;
        height: 79px;
        font-size: 12px;
        line-height: 162%;
    }

    .how__its__made__info__item__paragrantwo {
        width: 220px;
        height: 181px;
        font-size: 12px;
        line-height: 162%;
    }

    .how__its__made__description__list {
        width: 320px;
        flex-direction: column;
    }

    .how__its__made__description__item__title {
        width: 98px;
        height: 56px;
        font-size: 36px;
        line-height: 41px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-align: start;
    }

    .how__its__made__description__item__icon {
        margin-bottom: 16px;
    }

    .how__its__made__description__item {
        margin-bottom: 32px;
    }

    .how__its__madetwo{
        padding-top: 0;
    }

    .how__its__made__container{
        height: 670px;
    }
}

/*-----------ANIMACION ------------------------*/

.how__its__made__info__item__btn:hover,
.how__its__made__info__item__btn:focus {
    background: $grey;
    cursor: pointer;
    transform: scale(1.2);

}