.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 60px;
}

.products__title-list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;
  cursor: pointer;
}

.products__title-item:first-child {
  color: $deep-pink;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.products__title-link {
  color: $red;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 66px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.products__content-list {
  display: flex;
  gap: 32px;
  padding-top: 320px;
}

.products__item {
  flex-basis: calc((100% - 64px) / 3);
  display: flex;
  align-items: center;
  position: relative;
  padding: 63px 60px;
  transition: transform 250ms ease-in-out;

  &:hover {
    cursor: pointer;
    transform: translateY(10);
  }
}

.products__item--bgicecream {
  width: 100%;
  height: 535px;
  background-color: $light-pink;
  border-radius: 24px;
  transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out;

  &:hover {
    box-shadow: 1px 1px 10px $deep-pink;
    background-color: #f89db4ee;
  }
}

.products__item--bgicecoffee {
  width: 100%;
  height: 535px;
  background-color: #f0d1a5;
  border-radius: 24px;
  transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out;

  &:hover {
    box-shadow: 1px 1px 10px $deep-pink;
    background-color: rgb(228, 187, 131);
  }
}
.products__item--milkshakes {
  width: 100%;
  height: 535px;
  background-color: #c2e297;
  border-radius: 24px;
  transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out;

  &:hover {
    box-shadow: 1px 1px 10px $deep-pink;
    background-color: #93c94c;
  }
}

.products__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .product__img-container {
    width: 100%;
  }

  .products__card-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $white;
  }

  .products__card-description {
    color: $white;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.04em;
    line-height: 1.76;

    &::before {
      display: flex;
      justify-content: center;
      margin-bottom: 32px;
    }

    &::after {
      display: flex;
      justify-content: center;
      margin-top: 60px;
      transition: transform 450ms ease-in-out;
    }
  }
}

.products__card:hover .products__card-description::after {
  transform: rotate(270deg);
}

.products__img {
  width: 368px;
  height: 394px;
  position: absolute;
  left: 50%;
  bottom: 430px;
  transform: translateX(-50%);
}
.right-arrow {
  align-items: center;
  margin-top: 32px;
  margin-bottom: 60px;
  margin-left: 100px;
  display: block;
  position: relative;
  top: 90px;
  transform: translateY(-50%);
}

/* Estilos para tabletas (entre 768px y 1279px) */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 768px;
  }
  .products__card {
    width: 80%;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 320px;
  }
}
